*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background: #52b3e1;
    
        /* overflow-y: hidden; */
    
    
}

.add {
    position: fixed;
    top: 1rem;
    right: 1rem;
    background-color: #9ec862;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }


.note{
    background-color: #fff;
    width: 300px;
    padding: 1rem;
    /* display: flex; */
    height: 300px;
}

.content{
    display: flex;
    justify-content:space-between;
    background-color: #9ec862;
    /* align-items: center; */
    padding: 0.5rem 1rem;
}

.edit{
    background-color: #f9a109;
    color: #fff;
    border: none;
    border: solid black 2px;
    padding: 0.1rem 0.5rem;
    cursor: pointer;
}

.delete{
   
        background-color: #f9a109;
        color: #fff;
        border: none;
        border: solid black 2px;
        padding: 0.1rem 0.5rem;
        cursor: pointer;
}

.textarea {
    width: 268px;
    height: 230px;
    padding: 10px; /* Adjust this value to set the desired padding */
}


.container {
    margin-top: 4rem; /* Adjust top margin to create space for .top */
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 4rem); /* Adjust height to accommodate .top */
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-left: -1.5rem; /* Compensate for the gap between flex items */
}


footer {
    position: fixed;
    bottom: 0;
    /* height: 20px; */
    width: 100%;
    background-color: #3333331b; /* Adjust as per your design */
    color: #fff; /* Adjust text color */
    padding: 0.2rem; /* Adjust padding as needed */
    text-align: center; /* Center align text */
}



/* Add these styles for smaller screens (e.g., smartphones) */
@media only screen and (max-width: 767px) {
    .container {
      /* margin-top: 2rem; Adjusted top margin for smaller screens */
      height: auto; /* Remove fixed height */
    }
  
    .note {
      width: 80%; /* Make notes occupy full width */
      margin-bottom: 1rem; /* Add some space between notes */
      margin-left: 1.5rem;
      padding: 1rem; /* Add padding for better spacing */
      box-sizing: border-box; /* Include padding in width calculation */
    }
  
    .textarea {
      width: calc(100% - 1px); /* Adjust width to fit container with padding */
      /* height: 150px; Adjust height for better display on smaller screens */
    }
  }
  
  /* Add these styles for landscape orientation on smartphones */
  @media only screen and (max-width: 767px) and (orientation: landscape) {
    .textarea {
      height: 100px; /* Adjust height for better display in landscape mode */
    }
  }
  
  